/* Bootstrap is designed with portrait phones / extra small devices
     in mind as the default device. Might be good suit to follow.
     (min-width: 576px) > Breakpoint for landscape phones

https://getbootstrap.com/docs/4.0/layout/overview/ 
  > Responsive Breakpoints
*/


:root {
  --red: #FF0000;
  --green: #00FF00;
  --blue: #0000FF;

  --cyan: #00FFFF;
  --magenta: #FF00FF;
  --yellow: #FFFF00;

  --black: #000000;
  --white: #FFFFFF;
  --grey: #7F7F7F;
  --light-grey: #CCCCCC;

  --helvetica: Helvetica, sans-serif;

  --sans-serif: Verdana, sans-serif;
}





html, body {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-size: 3rem;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none; 
}



.bg-red {
  background-color: var(--red);
}

.bg-green {
  background-color: var(--green);
}

.bg-blue {
  background-color: var(--blue);
}

.bg-light-grey {
  background-color: var(--light-grey);
}





.box {
  display: flex;
  position: relative;
}

.container {
  min-height: ;
}



.stack-vertical {
  flex-direction: column;
}

.stack-horizontal {
  flex-direction: row;
}



.center {
  margin-left: auto;
  margin-right: auto;
}

.left {
  margin-left: 0;
}

.right {
  margin-right: 0;
}

.bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}



.padding-bottom {
  padding-bottom: 5rem;
}

.padding-top-3 {
  padding-top: 3rem;
}

.side-padding {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.side-margin {
  margin-left: 15%;
  margin-right: 15%;
}




li a {
  color: black;
}

li a:hover {
  color: var(--light-grey);
}

.nav-bar {

}

.nav-list {
  display: flex;
}

.nav-list-item {
  padding: 0.5rem;
}



.sans-serif {
  font-family: var(--helvetica);
}

.justify {
  text-align: justify;
}



.border-top {
  border-top: 0.1rem black solid;
}

.border-bot {
  border-bottom: 0.1rem black solid;
}


/* move to jeff.css */

.logo {
  font-family: Georgia;
  font-weight: normal;
  letter-spacing: 0.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.nav-link {
  font-family: Courier;
  font-weight: ;
  font-size: 1.5rem;
  letter-spacing: ;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

